FLASK_SECRET_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CEIPAL_EMAIL=
CEIPAL_PASSWORD=
CEIPAL_API_KEY=
PROJECT_ID="project-01-test-488412"
REGION="us-central1"
ALLOWED_DOMAIN="intellismith.com"
MAX_CV_CHARS=8000
MAX_JD_CHARS=5000
PORT=8080
